---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyAhM5beuIWJu5RmFq-s7JpxTjxkcDxQyRs&language=en&location=40.785091%2C-73.968285&query=Central+Park&radius=2000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You have exceeded your daily request quota for this API. If you did not set a custom daily request quota, verify your project has an active billing account: http://g.co/dev/maps-no-account",
           "html_attributions" : [],
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Sun, 23 Oct 2022 09:02:15 GMT
recorded_with: VCR 5.1.0
